<header class="bgg-gray-dark bgi-code">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="d-block p-5 p-sm-0">
                    <img class="mb-5 fadeIn d-block d-sm-inline mx-auto mx-sm-start" src="/assets/images/ej-logo.png" alt="EasyJur" height="35">
                    <h1 class="fs-xs-25 mt-2 mb-4 fw-bold fadeIn fc-white text-center text-sm-start">Teste prático de aptidão para <span class="fc-red">desenvolvedor front-end.</span></h1>
                    <p class="fs-6 opacity-50 fc-gray fadeIn text-center text-sm-start">Com Ricardo Maia.</p>

                    <div class="mt-4 fadeIn text-center text-sm-start">
                        <i class="fs-4 fc-white fc-blue-light opacity-50 me-2 fa-brands fa-html5"></i>
                        <i class="fs-4 fc-white fc-blue-light opacity-50 me-2 fa-brands fa-css3-alt"></i>
                        <i class="fs-4 fc-white fc-blue-light opacity-50 me-2 fa-brands fa-js"></i>
                        <i class="fs-4 fc-white fc-blue-light opacity-50 fa-brands fa-sass"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="py-0 py-sm-5">
                    <img class="d-block mx-auto fadeIn w-75" src="/assets/images/ej-rm.png" alt="Ricardo Maia">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="ej-section px-4 px-sm-0 py-sm-5">
    <div class="container pt-5 py-sm-5">
        <div class="row">
            <div class="col-md-6 pe-sm-5">
                <h3 class="display-7 mb-4 fw-bold fc-primary">
                    <span class="badge bg-secondary rounded-circle me-2">1</span>
                    Componente reutilizável
                </h3>
                
                <p>Desenvolver um componente de carrossel de livros que possa ser reutilizado em diferentes
                    partes da aplicação. O carrossel deve exibir capas de livros com seus títulos e deve ser responsivo.
                    Ao clicar em uma capa, o usuário deve ser redirecionado para a página de detalhes do livro.</p>
                
                <ul class="list-group list-group-flush mb-5 mb-sm-0">
                    <li class="list-group-item border-0 px-0">
                        <i class="far fa-circle-check me-2 fc-blue-light"></i>
                        <span class="opacity-75">Bootstrap 5</span>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <i class="far fa-circle-check me-2 fc-blue-light"></i>
                        <span class="opacity-75">Owl Carousel</span>
                    </li>
                    <li class="list-group-item border-0 px-0">
                        <i class="far fa-circle-check me-2 fc-blue-light"></i>
                        <span class="opacity-75">Google Books API</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="border p-0 border-0 border-sm-1 p-sm-5 rounded">
                    <div class="ej-carousel">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img class="rounded-start" src="https://books.google.com/books/content?id=IroTEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ej-section py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-5">
                <h3 class="display-7 mb-4 fw-bold fc-primary">
                    <span class="badge bg-secondary rounded-circle me-2">2</span>
                    Plugin personalizado CKEditor
                </h3>
                <p>Desenvolver um componente de carrossel de livros que possa ser reutilizado em diferentes
                    partes da aplicação. O carrossel deve exibir capas de livros com seus títulos e deve ser responsivo.
                    Ao clicar em uma capa, o usuário deve ser redirecionado para a página de detalhes do livro.</p>
            </div>
            <div class="col-md-6">
                <div class="border p-5 rounded">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos recusandae laboriosam tenetur quidem architecto omnis, velit deleniti exercitationem eligendi eius veritatis? Officia laudantium pariatur sunt quia consectetur molestiae animi.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ej-section py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-5">
                <h3 class="display-7 mb-4 fw-bold fc-primary">
                    <span class="badge bg-secondary rounded-circle me-2">3</span>
                    Testes Unitários
                </h3>
                <p>Desenvolver um componente de carrossel de livros que possa ser reutilizado em diferentes
                    partes da aplicação. O carrossel deve exibir capas de livros com seus títulos e deve ser responsivo.
                    Ao clicar em uma capa, o usuário deve ser redirecionado para a página de detalhes do livro.</p>
            </div>
            <div class="col-md-6">
                <div class="border p-5 rounded">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos recusandae laboriosam tenetur quidem architecto omnis, velit deleniti exercitationem eligendi eius veritatis? Officia laudantium pariatur sunt quia consectetur molestiae animi.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ej-section py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 pe-5">
                <h3 class="display-7 mb-4 fw-bold fc-primary">
                    <span class="badge bg-secondary rounded-circle me-2">4</span>
                    Resolução de Problemas
                </h3>
                <p>Desenvolver um componente de carrossel de livros que possa ser reutilizado em diferentes
                    partes da aplicação. O carrossel deve exibir capas de livros com seus títulos e deve ser responsivo.
                    Ao clicar em uma capa, o usuário deve ser redirecionado para a página de detalhes do livro.</p>
            </div>
            <div class="col-md-6">
                <div class="border p-5 rounded">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos recusandae laboriosam tenetur quidem architecto omnis, velit deleniti exercitationem eligendi eius veritatis? Officia laudantium pariatur sunt quia consectetur molestiae animi.
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="bgg-primary d-flex align-items-center mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="mb-4 fc-gray opacity-75">"O descontentamento é o primeiro passo na evolução de um homem ou de uma nação", Oscar Wilde.</p>
            </div>
            <div class="col-md-8">
                <img src="/assets/images/ej-icon.svg" class="float-end" height="40px" alt="EasyJur">
            </div>
        </div>
    </div>
</footer>