
//COLORS

$colorPrimary: #01012C;
$colorSecondary: #F21F3C;

$colorBlue: #1A1A5B;
$colorBlueDark: #01012C;
$colorBlueLight: #528FFE;

$colorGray: #EDEDED;
$colorGrayDark: #121212;
$colorGrayLight: #f9f9f9;

$colorRed: #F21F3C;
$colorRedDark: color.adjust($colorRed, $lightness: -20%);
$colorRedLight: color.adjust($colorRed, $lightness: 20%);



//FONTS

$fontHeader: 'Roboto';
$fontHeaderWeight: 600;

$fontText: 'Roboto';
$fontTextWeight: 400;


